<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dateofbirth %>
</p>

<p>
  <strong>Cancer Status:</strong>
  <%= @patient.status %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @patient.medication %>
</p>

<p>
  <strong>Emergency Contact:</strong>
  <%= @patient.emergencycontact %>
</p>
